<div class="media-detail-container">
  <h2>{{ media?.name }}</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="media" class="media-detail">
    <div class="media-image">
      <img
        [src]="media.coverImageUrl"
        alt="{{ media.name }} cover image"
        class="cover-image"
        (error)="onImageError($event)"
      />
    </div>

    <div class="media-info">
      <p>
        <strong>{{ "mediaInfo.type" | translate }}:</strong>
        {{ "mediaInfo." + media.type | translate }}
      </p>
      <p>
        <strong>{{ "mediaInfo.category" | translate }}:</strong>
        {{ media.category }}
      </p>
      <p>
        <strong>{{ "mediaInfo.creator" | translate }}:</strong>
        {{ media.creator }}
      </p>
      <p>
        <strong>{{ "mediaInfo.releaseDate" | translate }}:</strong>
        {{ formatReleaseDate(media.releaseDate) }}
      </p>
      <p>
        <strong>{{ "mediaInfo.status" | translate }}:</strong>
        {{
          media.status
            ? ("mediaInfo.completed" | translate)
            : ("mediaInfo.pending" | translate)
        }}
      </p>
      <p>
        <strong>{{ "mediaInfo.description" | translate }}:</strong>
        {{ media.description || ("mediaInfo.noDescription" | translate) }}
      </p>
    </div>

    <div class="button-container">
      <a [routerLink]="['/media-list']" class="action-button back-link">{{
        "buttons.backToMediaList" | translate
      }}</a>
      <a
        [routerLink]="['/add-media']"
        [queryParams]="{ id: media.id }"
        class="action-button back-link"
        >{{ "buttons.editMedia" | translate }}</a
      >
      <button (click)="confirmDelete()" class="action-button back-link">
        {{ "buttons.deleteMedia" | translate }}
      </button>
    </div>
  </div>
</div>
