<div class="info-container">
    <!-- Header with Translate and Register Buttons -->
    <div class="header">
      <button class="translate-button" (click)="changeLanguage()">
        {{ currentLang === 'en' ? 'Español' : 'English' }}
      </button>
      <button class="register-button" (click)="goToRegister()">
        {{ 'info.goToRegister' | translate }}
      </button>
    </div>
  
    <!-- Main Body with Project Information -->
    <div class="main-body">
      <h1>{{ 'info.title' | translate }}</h1>
      <p>{{ 'info.description' | translate }}</p>
    </div>
  
    <!-- GitHub Buttons -->
    <div class="github-buttons">
      <button class="github-button" (click)="openGithubFrontend()">
        {{ 'info.frontendRepo' | translate }}
      </button>
      <button class="github-button" (click)="openGithubBackend()">
        {{ 'info.backendRepo' | translate }}
      </button>
      <button class="github-button" (click)="downloadCV()">
        {{ 'info.downloadCV' | translate }}
      </button>
    </div>
  </div>