<div class="media-detail-container">
  <h2>{{ "mediaDetail.editMedia" | translate }}</h2>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>

  <form (ngSubmit)="onSubmit()" #mediaForm="ngForm" class="media-detail">
    <div class="media-image">
      <img
        [src]="media.coverImage"
        alt="{{ 'mediaDetail.noImageFound' | translate }}"
        class="cover-image"
      />
    </div>
    <div class="media-info">
      <div class="form-group">
        <label for="name">{{ "mediaDetail.name" | translate }}:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="media.name"
          name="name"
          required
        />
      </div>

      <div class="form-group">
        <label for="type">{{ "mediaDetail.type" | translate }}:</label>
        <select id="type" [(ngModel)]="media.type" name="type" required>
          <option value="Movie">{{ "mediaDetail.movie" | translate }}</option>
          <option value="Show">{{ "mediaDetail.show" | translate }}</option>
          <option value="Game">{{ "mediaDetail.game" | translate }}</option>
          <option value="Book">{{ "mediaDetail.book" | translate }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="category">{{ "mediaDetail.category" | translate }}:</label>
        <input
          type="text"
          id="category"
          [(ngModel)]="media.category"
          name="category"
          required
        />
      </div>

      <div class="form-group">
        <label for="creator">{{ "mediaDetail.creator" | translate }}:</label>
        <input
          type="text"
          id="creator"
          [(ngModel)]="media.creator"
          name="creator"
          required
        />
      </div>

      <div class="form-group">
        <label for="releaseDate"
          >{{ "mediaDetail.releaseDate" | translate }}:</label
        >
        <input
          type="date"
          id="releaseDate"
          [(ngModel)]="media.releaseDate"
          name="releaseDate"
          required
        />
      </div>

      <div class="form-group">
        <label for="status">{{ "mediaDetail.status" | translate }}:</label>
        <input
          type="checkbox"
          id="status"
          [(ngModel)]="media.status"
          name="status"
        />
      </div>

      <div class="form-group">
        <label for="description"
          >{{ "mediaDetail.description" | translate }}:</label
        >
        <textarea
          id="description"
          [(ngModel)]="media.description"
          name="description"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="coverImageUrl"
          >{{ "mediaDetail.coverImageUrl" | translate }}:</label
        >
        <input
          type="text"
          id="coverImageUrl"
          [(ngModel)]="media.coverImage"
          name="coverImageUrl"
        />
      </div>

      <div class="button-container">
        <button
          type="submit"
          [disabled]="!mediaForm.valid"
          class="action-button save-button"
        >
          {{ "buttons.saveChanges" | translate }}
        </button>
        <a [routerLink]="['/media-list']" class="action-button back-link">
          {{ "buttons.cancel" | translate }}
        </a>
      </div>
    </div>
  </form>
</div>
